@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives
@inject NavigationManager NavigationManager
@page "/callback"

<h1>Callback page</h1>

@code{
    protected override void OnInitialized()
    {
        bool parsed = QueryHelpers.ParseQuery(NavigationManager.Uri)
            .TryGetValue("access_token", out StringValues param);
        if (parsed)
        {
            string accessToken = param.First();
            Console.WriteLine(accessToken);
        }
    }
}