@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IAccessTokenProvider TokenProvider
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <p>Main page</p>
    </Authorized>
    <NotAuthorized>
        <p>Please Log In</p>
    </NotAuthorized>
</AuthorizeView>

@code{

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal user = authState.User;
        Console.WriteLine(user.Identity.Name);
        
        var tokenResult = await TokenProvider.RequestAccessToken(
            new AccessTokenRequestOptions
            {
                Scopes = new[] { "https://www.googleapis.com/auth/drive.appdata" }
            });
        if (tokenResult.TryGetToken(out var token))
        {
            Console.WriteLine($"token:[ expires: {token.Expires} scopes: {string.Join("|", token.GrantedScopes)} value: {token.Value}");
        }
        else
        {
            Console.WriteLine($"token not found");
        }
    }
}