@page "/"

<p>
    Auth with
    <a href="https://accounts.google.com/o/oauth2/v2/auth?
scope=openid&
response_type=token&
state=test_state&
redirect_uri=https://localhost:5001/callback&
client_id=268225256987-2ole20siit2cdl687ncomoajnkpg0sj5.apps.googleusercontent.com">
        Google
    </a>
</p>
